@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}
body {
  background-color: #10A19D;
  color: #333;
  font-family: "Nunito";
}

.section-div h2{
 text-align: center;
 
  
  
}
.section-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2f2f2;
  margin: 10px 20px;
}


footer{
    
  background: #111;
  height: auto;
  
  padding-top: 40px;
  color: #fff;
  margin-bottom: -2000px;
  width: 100%;
}


.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
font-size: 2.1rem;
font-weight: 500;
text-transform: capitalize;
line-height: 3rem;
}
.card-headers{
  margin: 0;
  padding: 0;
}

.cards{
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #10A19D;
  width: 30%;
}
.card-bodies {
  align-items: center;
  padding: 10px 10px;

}

.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  
  
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #92d4e4;
}
.card-bodies h4 {
  margin: 10px 0;
}
.card-bodies p {
  font-size: 14px;
  
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.f-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  
}
.intro-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

}
.intro-div h1{
  text-align: center;
}
.thumbnail{
  width: 100%;
}
.nav-things:hover{
color: #10A19D;
font-weight: bold;
font-size: 14px;
cursor: pointer;
}
.privacy{
  color: white;
  padding: 10px 10px;
}
.privacy h4{
  text-decoration: underline;
  font-weight: bold;
}
.privacy h3{
  text-align: center;
}
.slug{
  background-color: white;
  margin: 10px 20px;
  border-radius: 2px;
  border: 1px solid #10A19D;
}
.slug h1{
  text-align: center;
  font-weight: bold;
  
}
.slug article{
  margin: 10px 10px;
}
@media all and ( max-width: 500px) {
  .f-cards{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .cards{
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(1, 14, 56);
    width: 60%;
  }
  .section-div h2{
    text-align: center;
  }
  
}

